.box{
    width: 200px;
    height: 200px;
    background: red;
}

.cambio1{
    width: 500px;
    height: 500px;
    background: blue;
}

.caja{
    display: grid;
    grid-template-columns: repeat(3,200px);
    padding-top: 50px;
    padding-bottom: 50px;
}

.miniCaja{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    cursor: pointer;
}

.color{
    background: blue;
}